// Main Site Layout

body {
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header,
    .footer {
        flex: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }
    }
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;
}

.container--content {
    display: block;
    max-width: 40rem;
    margin-top: 2rem;
}

.container--images-project {
}

.intro-sub {
    font-size: 1.5rem;
    line-height: 1.375;
}

.project-list {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 2rem 0;
}
