// Main Site Layout

body {
    background-color: #f9f9f9;
    color: #1d1d1d;
    overflow-x: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header,
    .footer {
        flex: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }
    }
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container--content {
    display: block;
    max-width: $container-max-width;
    margin: 2rem auto;
    width: 90%;
}

.container--content h2:first-of-type {
    margin-top: 5rem;
}

.intro-sub {
    font-family: $font-family-serif;
    font-size: 1.5rem;
    font-weight: var(--font-weight-md);
    line-height: 1.375;
}

.project-list {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 2rem 0;
}

.quote-box {
    background-color: #ededed;
    padding: 2rem;
}

.note {

    // @media only screen and (min-width: $breakpoint-xl) {
    //     position: absolute;
    //     left: 0;
    // }

    h2 {
        font-size: 1.675rem;
    }
}