h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: 2.25rem;
    font-weight: 500;
    margin: 3rem 0 1rem 0;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 3rem 0 1rem 0;
}

p,
li {
    font-weight: 300;
    margin: 0 0 1.5rem 0;
    line-height: 1.75;
}

a {
    color: $brand-red2;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;

    @include mq(md) {
        font-size: 2rem;
    }
}
