:root {
    --font-size-xl: 5rem;
    --font-size-lg: 2.5rem;
    --font-wt-lt: 300;
    --font-wt-reg: 400;
    --font-wt-md: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
    line-height: 1.3;
}

h1 {
    font-size: var(--font-size-xl);
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: 500;
    margin: 3rem 0 1rem 0;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 3rem 0 1rem 0;
}

p,
li {
    font-size: 1.35rem;
        font-weight: var(--font-wt-reg);
    line-height: 1.75;
}

li:not(.nav__menu li) {
    list-style-type: disc;
    margin: 0 0 .75rem 2.5rem;
}

p,
ul:not(.nav__menu) {
    margin-bottom: 1.75rem;
}
a {
    border-bottom: 2px solid;
    color: $brand-secondary;
    text-decoration: none;
    &:hover {
        border-bottom: none;
        text-decoration: none;
        cursor: pointer;
    }
}

.header a {
    border-bottom: none;

    &:hover {
        background-color: $brand-color-primary-offset;
        color: white;
    }

}
.lead {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;

    @include mq(md) {
        font-size: 2rem;
    }
}

blockquote {
    border-left: 4px solid lightgray;
    padding-left: 1.25rem;
    font-style: italic;   
}