.nav {
    &__menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;

        li {
            list-style-type: none;
        }
    }
    &__link {
        display: block;
        padding: 0.5em 1em;
    }
    &__toggle {
        @include button-reset;
    }

    @include mq-down(lg) {
        &.is-open &__menu {
            display: block;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                z-index: 999;
        }
    }

    @include mq(lg) {
        &__toggle {
            display: none;
        }
        &__menu {
            display: flex;
            position: static;
            background-color: transparent;
        }
    }
}
