---
layout: base
permalink: /projects/mgov/
eleventyNavigation:
key: adhoc
eleventyExcludeFromCollections: true
title: Project 1 | Daniel Bivins
---

<div class="container">
    <div class="container--content">
        <h1>Medicare.gov</h1>
        <p class="intro-sub">Reviving the Medicare Plan Finder tool</p>
        
        <div class="note">
            <h2>My role</h2>
            <ul>
                <li>UX Design</li>
                <li>Accessibility Specialist</li>
            </ul>
        </div>

        <h2>The Challenge</h2>
        <p>Nearly 15% of Americans are currently enrolled in Medicare and that number is expected to double over the next decade. As this group grows and more people rely on technology to help them access and enroll in government services, it is crucial that reliable and accessible access to these digital services meets their needs.</p>
        
        <p>The process of shopping for and enrolling in a Medicare plan is an intimidating journey due to the importance of the beneficiary's decision which affects their health and drug coverage &mdash; but also due to the incredible amount of data about options and services that flood Medicare beneficiaries every year.</p>

        <p>Working collaboratively with our government partners at the Centers for Medicare & Medicaid Services (CMS) <a href="https://adhoc.team/" target="_blank">Ad Hoc's</a> goal was to replace a legacy tool built more than a decade ago with a tool that would make it easier for Medicare beneficiaries, or those who help them, to find and enroll in a Medicare plan that best meets their health and financial needs.</p> 

         <figure class="container--images-project u-mt4 u-mb5">
            <img src="{{ '/assets/images/mgov_old_plans.png' | url }}" alt="A screenshot of the legacy tool's Plan Results page"/>
            <figcaption>A screenshot of the legacy tool's Plan Results page</figcaption>
        </figure>

        <p>Some of the <strong>foundational issues we needed to resolve</strong> in this rebuild were the fact that the legacy tool:</p>
        <ul>
            <li>was not responsive</li>
            <li>presented an overwhelming amount of information and cognitively overwhelmed the user</li>
            <li>was not built with performance, security, and reliability as a priority</li>
        </ul>

        <p>At the core of our human-centered design approach, the questions we kept asking were:</p> 
        <ul role="list">
            <li role="listitem">Who are our users?</li>
            <li role="listitem">What are their pain points?</li>
            <li role="listitem">How do we prioritize all the features we can build to ensure that we have a strong foundation that we can improve upon in the future?</li>
            <li role="listitem">How do we ensure that we are continuously gathering feedback from those who will use the tool so we can improve over time?</li>
            <li role="listitem">How do we ensure that the tool is performant, stable, reliable, and most importantly accessible to all regardless of ability?</li>
        </ul>
        
        <hr>

        <h2>The Work</h2>

        <p>Using feedback from users and organizations who support them as well as aggregating policy and business requirements, we layed a foundation for an MVP product that was built with the user in mind.</p>

        <p>Through usability sessions during Open Enrollment, we saw how people actually used Plan Finder and began exploring the highest impact changes we could make to ensure an even smoother Open Enrollment the following year. There were many discussions around balancing the user impact and technical feasibility of the new feature work and feature improvements.</p>

        <figure class="container--images-project u-mt5">
            <img src="{{ '/assets/images/mgov_collab.png' | url }}" alt="A screenshot showing a collaborative session with stakeholders."/>
            <figcaption>A collaborative session with stakeholders.</figcaption>
        </figure>
        
        <h3>Our core features of focus</h3>
        <ul role="list">
            <li role="listitem"><strong>The drug and pharmacy search experience.</strong> From our user research, it quickly became clear that drug costs are one of the most stressful and most important decision points for a beneficiary. Drug coverage is filled with complexity and constantly evolving due to policy, how a plan and pharmacy covers a drug, what tier that drug is on, and how the drug moves through the Medicare coverage phases.</li>
            <li><strong>An anonymous shopping and plan enrollment experience</strong> that provides key pieces of information crucial to the decision making process at the optimal point in the experience and being able to filter and sort plans that best meet a beneficiary's needs.</li>
            <li role="listitem"><strong>A personalized, logged in experience</strong> that streamlines the plan selection and enrollment process to reduce time being guided through the process.</li>            
        </ul>
        <figure class="container--images-project u-mt5 u-mb5">
            <img src="{{ '/assets/images/mgov_PharmacySelection.png' | url }}" alt="A screenshot showing the redesigned pharmacy search experience."/>
            <figcaption>The redesigned pharmacy search experience.</figcaption>
        </figure>
        <figure class="container--images-project u-mt5">
            <img src="{{ '/assets/images/mgov_sum.png' | url }}" alt="A screenshot showing the logged in account summary experience."/>
            <figcaption> Logged in account summary page.</figcaption>
        </figure>

        <hr>
        <h2>The Outcome</h2>
        <p>Since CMS launched the redesigned <a href="https://www.medicare.gov/plan-compare/#/?year=2022&lang=en" target="_blank">Medicare Plan Finder</a>, the tool.</p>
        <ul>
            <li>Has helped more than 2.6 million Medicare beneficiaries enroll in a Medicare plan, about 40% more enrollments than the legacy tool the previous year</li>
            <li>Saw an average of 373,000 visitors a day during the next Medicare Open Enrollment.</li>
            <li>Zero downtime for the redesigned Medicare Plan Finder, meaning the tool ran smoothly and did not impact an individual’s ability to find and enroll in Medicare.</li>
        </ul>

        <div class="quote-box">
            <strong>Most importantly, people found it useful and helpful.</strong>
            <blockquote>“Even I, a 73-year-old guy who’s not very computer savvy can figure it out.”</blockquote>
            <blockquote>“I really like it because it’s self-explanatory and gives things in detail. You know up front what each plan costs a month, what your deductibles are, and what drugs are covered and what drugs aren’t. That’s really important."</blockquote>
        </div>
        
        <div class="project-crumb">
            <a href="{{ '/projects/ccmp' | url }}">Next project</a>
        </div>  
    </div>