---
layout: base
permalink: /projects/ccmp/
eleventyNavigation:
noindex
title: CCMP | Daniel Bivins
eleventyExcludeFromCollections: true

---

<div class="container">
    <div class="container--content">
        <h1>CCMP</h1>
        <p class="intro-sub">Providing a path forward for the former incarcerated</p>

        <div class="note">
            <h2>My role</h2>
            <ul>
                <li>UX/UI Design</li>
            </ul>
        </div>

        <h2>The Challenge</h2>
        <p>Reducing recidivism is a complex and varied problem. Without a community support system, achieving that goal of staying free is much more daunting.</p>

        <p>(Company name redacted) asked SitePen to build a web app that would allow inmates to search and sign up for community services &mdash; providing a conduit between the inmates and services within the community such as education, food banks, social workers, etc. In addition to this, the prison staff and case workers need to have oversight of where those who are incarcerated may be at a certain time and which of these community offerings they are involved in. So, if an inmate is admitted to a class &mdash; and allowed to leave the facility for this class &mdash; the staff needs to have a digital record of what time the person left and who with.</p>

        <h2>The Work</h2>
        <p>Our small cross-functional team collaborated with the client and former inmates to better understand the requirements from all angles through hours of discovery and exploration of key relationships between people who would use the tool, mapping of needs and experiences, and identifying data constraints.</p>

        <figure class="container--images-project u-mt5 u-mb5">
            <img src="{{ '/assets/images/ccmp_roles.png' | url }}" alt="A rough draft of a user flow to help think through how people who are incarcerated may use the tool."/>
            <figcaption>A rough draft of a user flow to help think through how people who are incarcerated may use the tool.</figcaption>
        </figure>

        <figure class="container--images-project u-mt5 u-mb5">
            <img src="{{ '/assets/images/ccmp_map.png' | url }}" alt="An early mapping of one level of admin's purpose and action within the tool."/>
            <figcaption>An early mapping of one level of admin's purpose and action within the tool.</figcaption>
        </figure>

        <h3>Our core features of focus</h3>

        <ul role="list">
            <li role="listitem"><strong>Clear and accessible searches.</strong>People who are incarcerated need the ability to research opportunities and resources in the community. They also need to be able to share the info of these resources with a family member outside of the facility, providing a stronger connection for families allows for increased chances of success.</p>

            <li role="listitem"><strong>System oversight.</strong> Facility staff required oversight of the activities (offsite visits and communications) at all times so providing various levels of admin privilege and system access to the wardens, officers, and case workers was crucial.</p> 

            <li role="listitem"><strong>Access and communication.</strong> The community organizations that provide services, case workers for the incarcerated, and the incarcerated all needed access to the app with a variety of use cases and entry points to the system.</p>
        </ul>

        <h3>Accessibility</h3>
        <p>Another critical point was the need for the design to be accessible, flexible, and performant. Many of the folks who are incarcerated would be accessing the app on devices with less than optimal operating systems and internet access. So our design needed to accomodate for the constraints that these phones or tablets provided.</p>

        <p>Lastly, a significant percentage of people who are incarcerated have challenges such as learning disabilities, other cognitive limitations, or have limited use of vision or motor skills. Given this, our app needed to be built in an inclusive manner from the start taking care to provide equal access to to everyone.</p>
        
       <h2>The Outcome</h2>

       <p>Close collaboration with stakeholders allowed for clear definitions to a complicated set of use cases. Providing an app with a simple user experience   allowed for this prison system in the midwest of the U.S. to go beyond the normal approach to incarceration. True success of this project is for the people involved &mdash; especially those who are incarcerated who have better access to community resources.</p>

        <figure class="container--images-project u-mt5 u-mb5">
            <img src="{{ '/assets/images/ccmp_programs.png' | url }}" alt="An early mockup showing program offerings for someone who is incarcerated."/>
            <figcaption>An early mockup showing program offerings for someone who is incarcerated.</figcaption>
        </figure>

        <figure class="container--images-project u-mt5 u-mb5">
            <img src="{{ '/assets/images/ccmp_detail.png' | url }}" alt="A detail view of a program's listing."/>
            <figcaption>A detail view of a program's listing.</figcaption>
        </figure>

        <div class="project-crumb">
        <a href="{{ '/projects/jenzabar' | url }}">Next project</a>
        </div>  
    </div>