---
layout: base
permalink: /projects/jenzabar/
eleventyNavigation:
key: Jenzabar
title: Jenzabar | Daniel Bivins

---

<div class="container">
    <div class="container--content">
        <h1>Jenzabar</h1>
        <p class="intro-sub">UI Component Design & Pattern Library Development</p>
        
        <div class="note">
            <h2>My role</h2>
            <ul>
                <li>UX/UI Design</li>
                <li>Front-end Developer</li>
            </ul>
        </div>

        <h2>The Challenge</h2>

        <p><a href="https://jenzabar.com/" target="_blank">Jenzabar</a> is an enterprise software company for higher education providing a student information system to a large nationwide customer base. Various business stakeholders and the UX team knew that there was an urgent need to rebuild the product to be responsive and accessible.</p>

        <p>Given that this would take time to rebuild and shift time away from the backlog, this wasn't an easy sell to all product owners and stakeholders. After much back and forth discussion of priorities and tradeoffs, we were able to move ahead, working at a rapid pace to design to build, test, and release components that would enable product teams to ship faster, more reliable code.</p>

        <h2>The Work</h2>
        <ul role="list">
            <li role="listitem">Collaboration with Product Managers was key to prioritize releasing components first that would have the biggest impact across the product.</li>
            <li role="listitem">A major issue that Jenzabar overcame was updating the design and code to meet <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">WCAG 2.0 AA</a> accessibility standards to ensure the experience for its users was equitable and inclusive and also provide to customers a product that was compliant in meeting <a href="https://www.section508.gov/develop/" target="_blank">Section 508</a> requirements.</li>
            <li role="listitem">Flexible and modular components that allow for designers and developers to grab and go with what they need. Consistently reliable, accessible, and performant components increases efficiency by reducing repetition while providing a more consistent experience across a large product.</li>

        </ul>
        <h2>The Outcome</h2>
        <ul role="list">
            <li role="listitem">New components contain proper semantic structure and judicious use of aria tags, ensuring all users could navigate including those who use assistive technologies. Creating this solid foundation for the software to meet accessibility guidelines while improving the experience for all users not only helps to meet business goals but is also just good design.</li>
            <li role="listitem">In the end, we drastically improved the time it takes to ship code by building out these components and making them reusable for developers. Below are a few examples of the UI component designs and pages from the style guide I created for Jenzabar.</li>
            <li role="listitem">Providing supporting documentation simplified implementatiion of the designs and spoke to accessibility best practices and guidelines.</i>
        </ul>
        <div class="container--images-project u-mt4">
            <figure class="container--images-project u-mt4">
                <img src="{{ '/assets/images/jzb-sg4.jpg' | url }}" alt="Style Guide details for Jenzabar project"/>
                <figcaption>Style Guide details </figcaption>
            </figure>
        </div>


    <div class="project-crumb">
        <a href="{{ '/projects/mgov' | url }}">Next project</a>
    </div>  
    </div>

  