---
layout: base
permalink: /projects/ccmp/
eleventyNavigation:
key: ccmp
---

<div class="container">
    <div class="container--content">
        <h1>CCMP</h1>
        <p class="intro-sub">Providing a path forward for the former incarcerated</p>

        <div class="note">
            <h2>My role</h2>
            <ul>
                <li>UX/UI Design</li>
            </ul>
        </div>

        <h2>The Challenge</h2>
        <p>Reducing recidivism is a complex and varied problem. Without a community support system, achieving that goal of staying free is much more daunting.</p>

        <p>(Company name redacted) asked SitePen to build a web app that would allow inmates to search and sign up for community services &mdash; providing a conduit between the inmates and services within the community such as education, food banks, social workers, etc. In addition to this, the prison or jail staff needed to have oversight of where the inmates may be at a certain time. So, if an inmate is admitted to a class &mdash; and allowed to leave the facility for this class &mdash; the staff would now have a digital record of what time the person left and who with.</p>

        <h2>The Work</h2>
        <p>Our small cross-functional team collaborated with the client and former inmates to better understand the needs from all angles. </p>

        <h3>Our core features of focus</h3>

        <ul role="list">
            <li role="listitem"><strong>Clear and accessible searches.</strong>The incarcerated need the ability to research opportunities and resources in the community. They also need to be able to share the info of these resources with a family member outside of the facility, providing a stronger connection for families allows for increased chances of success.</p>

            <li role="listitem"><strong>System oversight.</strong> The facility staff required oversight of the activities at all times &mdash; providing various levels of admin priveleges and system access.</p> 

            <li role="listitem"><strong>Access and communication.</strong> The community organizations that provide services would have access to the system to view an inmates' progress and communicate offerings within their programs.</p>
        </ul>

        <figure class="container--images-project u-mt5">
            <img src="{{ '/assets/images/mgov_collab.png' | url }}" alt="A screenshot showing a collaborative session with stakeholders."/>
            <figcaption>A collaborative session with stakeholders.</figcaption>
        </figure>
        

        <p>As you can see, there are various layers of user/role permissions that were accounted for.</p> 
    </div>