---
layout: base
permalink: /projects/jenzabar/
eleventyNavigation:
key: Jenzabar
---

<div class="container">
    <div class="container--content">
        <h1>Medicare.gov</h1>
        <h2 class="intro-sub">UI Component Design & Pattern Library Development</h2>
        <p>Jenzabar is an enterprise software company for higher education with a lot of experience in their space and that's exhibited by a solid product. That being said, various business stakeholders and the UX team realized that there was a strong need to rebuild the product's modules to be responsive and accessible. I worked with a small team to create a 100+ component pattern library and design system over several months.</p>
        <h3>The Challenge:</h3>
        <ul role="list">
            <li role="listitem">Utilizing user stories and competitive research, the goal was to not just to build components but to build the right components needed for each user story.</li>
            <li role="listitem">A major issue that Jenzabar is working to overcome is updating design and code to meet WCAG 2.0 and AA accessibility standards to improve the experience for its users.</li>
            <li role="listitem">Build components in a modular way that allows for developers to "grab and go" the code that they need. This improves consistency in code as well as an increase in efficiency. This is classic "business needs meeting good design."</li>

        </ul>
        <h3>The Outcome:</h3>
        <ul role="list">
            <li role="listitem">With that motivation, these new components contain proper semantic structure and aria tags, where needed, ensuring users could navigate via assistive technologies. Creating this solid foundation for the software to meet accessibility guidelines while improving the experience for sighted users not only helps to meet business goals but is also just good design.</li>
            <li role="listitem">In the end, we drastically improved the time it takes to ship code by building out these components and making them reusable for developers. Below are several mockups of the UI component designs and pages from the style guide I created for Jenzabar.</li>
        </ul>
        <div class="container--images-project u-mt4">
            <img class="u-mb4" src="{{ '/assets/images/jzb-sg2.jpg' | url }}" alt="Style Guide typography for Jenzabar project"/>
            <img class="u-mb4" src="{{ '/assets/images/jzb-sg3.jpg' | url }}" alt="an zoomed in example from Style Guide pages for Jenzabar project"/>
            <img class="u-mb4" src="{{ '/assets/images/jzb-sg4.jpg' | url }}" alt="Jenzabar systems design of a style guide"/>
            <img class="u-mb4" src="{{ '/assets/images/jzb-sg5.jpg' | url }}" alt="responsive design of a user alert being shown on phone"/>
        </div>
    </div>