---
layout: base
tags: projects
title: Royall design
---

<div class="container">
    <div class="container--content">
        <h1>Royall &amp; Co.</h1>
        <h2 class="intro-sub">Web Design, Front-End Development</h2>
        <p>Royall & Co. provides actionable marketing for universities and colleges offering support through each of the three phases of student recruitment: search, application, and yield. I was specifically involved on the digital enrollment strategy campaigns and using data-driven design methods, I designed and built responsive and user-engaging sites.</p>
        <h3>The Challenge:</h3>
        <ul role="list">
            <li role="listitem">
                Identify pain points in user experience</li>
            <li role="listitem">Remove hurdles from the experience and allow them to complete a set of given tasks. A large portion of these pages contained lengthy forms. The goal is to break out these forms into logical and digestible sections for the user. No form is useful if the user does not want to finish it.
            </li>
        </ul>
        <p>The leads of the team at Royall & Co. routinely conducted user studies which the rest of the team watched and gathered insights from. This knowledge helped us to create more focused and empathetic designs.
        </p>

        <h3>The Outcome:</h3>
        <ul role="list">
            <li role="listitem">Responsive websites built using clearly defined goals for the user to achieve.</li>
            <li role="listitem">Manageable chunks of information presented to the user so they could easily digest the information and not feel overwhelmed. This aids in cognitive load.</li>
            <p>Note: Below is an example of a design for one client while working with Royall though I normally worked with between 10-15 clients.</p>
        </ul>
        <div class="container--images-project u-mt4">
            <img class="u-mb4" src="{{ '/assets/images/royall_1.jpg' | url }}" alt="A collection of images exemplifying responsive design."/>
            <img class="u-mb4" src="{{ '/assets/images/royall_4.jpg' | url }}" alt="A site design for Montana State University which contains a general signup form for prospective students."/>
        </div>
    </div>
</div>