---
layout : base
key : About
title: About | Daniel Bivins

---
<div class="container--content">
    <h1>About</h1>
    <p>First of all, learn more about how I approach <a href="/accessibility">this site's accessibility</a>.</p>
    <p>I design, write a little bit of front-end code, and spend time helping designers and developers create more inclusive digital products. I have worked across various industries but currently work with <a href="https://adhocteam.us/">Ad Hoc</a> as a UX Designer and Accessibility Specialist, building digital services that help the federal government better serve people.</p> 

    <p>Feel free to <a href="mailto:dbivins☛REMOVE-THIS☚@protonmail.com?subject=Accessibility issue">email me directly</a> to set up a time to chat. </p>

    <h2>Speaking</h2>
    <p>Occasionally I give talks on accessibility.</p>

    <ul>
        <li>The most recent was for AIGA Los Angeles on <a href="https://losangeles.aiga.org/event/being-a-web-a11y/">"Being a Web A11y"</a>.</li>
        <li>I presented at <a href="https://adhoc.team/2020/04/20/accessibility-camp-2020/">Ad Hoc Accessibility Camp 2020</a></li>
    </ul>

    <h2>Writing</h2>
    <ul>
        <li>
            I was fortunate enough to be apart of an amazing team that wrote: <a href="https://adhoc.team/playbook-accessibility/">The Ad Hoc Accessibility Beyond Compliance Playbook</a>
        </li>
        <li>
            As a co-author, <a href="https://adhoc.team/2021/11/30/right-benchmarks/">The right benchmarks</a> 
        </li>
        <li>
            <a href="https://www.sitepen.com/blog/an-intro-to-designing-for-accessibility">An intro into designing for accessibility</a>
        </li>
    </ul>

    <h2>Non-work</h2>
    <p>Outside of working, I have become an avid trail runner and also have been involved in a couple very different musical projects for several years.</p>

</div>
