---
layout : base
key : About
---
<div class="container--content">
<h1>About</h1>
<p>Dan Bivins designs, writes a little bit of front-end code, and spends time helping designers and developers create more inclusive digital products. He has worked across various industries but currently works with <a href="https://adhocteam.us/">Ad Hoc</a>, building digital services that help the federal government better serve people.</p> 
<p>Outside of working, Dan has (strangely) become an avid trail runner and also is involved in a couple very different musical projects.</p>
</div>
