---
layout : base
key : About
---
<div class="container--content">
<h1>About</h1>
<p>First of all, learn more about how I approach <a href="/accessibility">this site's accessibility</a>.</p>
<p>I design, write a little bit of front-end code, and spend time helping designers and developers create more inclusive digital products. I have worked across various industries but currently work with <a href="https://adhocteam.us/">Ad Hoc</a> as a UX Designer and Accessibility Specialist, building digital services that help the federal government better serve people.</p> 

<h2>Speaking</h2>
<p>Occasionally I give talks on accessibility. The most recent was for AIGA Los Angeles on <a href="https://losangeles.aiga.org/event/being-a-web-a11y/">"Being a Web A11y"</a>.</p>

<h2>Non-work</h2>
<p>Outside of working, I have become an avid trail runner and also am involved in a couple very different, stylistically, musical projects.</p>

<p> Note, you will not find me tweeting but would love to actually have a conversation if you would like. Feel free to <a href="mailto:dbivins☛REMOVE-THIS☚@protonmail.com?subject=Accessibility issue">email me directly</a> to set up a time. </p>


</div>
