---
layout : base
key : Accessibility Statement
---
<div class="container--content">
<h1>Accessibility Statement</h1>
<p> My aim for this website is to provide an experience that functions for the widest possible audience, regardless of technology or ability. It strives to conform to level AA compliance for the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) 2.1</a>. These are guidelines that explain how to make web content easier to use for disabled people.
</div>
