---
layout : base
title: Blog posts for Daniel Bivins
tags: blog

---

<div class="container--content">
<h1>Blog Posts</h1>

<p>Sometimes I write</p>

<ul role="list">
<li role="list-item"><a href="/posts/true-access/">True Access </a></li> 
<li role="list-item"><a href="/posts/set-it-down/">Set it Down </a></li>
<li role="list-item"><a href="https://www.sitepen.com/blog/an-intro-to-designing-for-accessibility">An Intro to Designing for Accessibility</a></li>
<li role="list-item">I had the pleasure of being part of the teams to write <a href="https://adhoc.team/playbook-accessibility/">The Ad Hoc Accessibility Beyond Compliance
Playbook</a></li> 
<li role="list-item"><a href="https://adhoc.team/2021/11/30/right-benchmarks/">The right benchmarks</a></li> 
</ul>
</div>
