---
layout : base
title: Blog posts for Daniel Bivins
tags: blog

---

<div class="container--content">
<h1>Blog Posts</h1>

<p>From time to time, when the wind strikes just right, I hope to write about various topics &mdash; design-related or not. The goal of these are not to have polished articles but instead, to have a place to think aloud.</p>

<ul role="list">
<li role="list-item"><a href="/posts/true-access/">True Access </a></li> 
<li role="list-item"><a href="/posts/set-it-down/">Set it Down </a></li> 
</ul>
</div>