---
layout: base
eleventyNavigation:
key: Home
---

<div class="container">
  <h1>Daniel Bivins</h1>
  <h2 class="container--content intro-sub">
    I'm a UX designer with front-end skills who is passionate about performance, accessibility, and modular design.
  </h2>
  <p class="container--content">
    I focus on utilizing a design-centered strategy to communicate and create beautiful experiences while meeting business objectives. Achieving good design relies on intimately understanding the user's needs as well as the overarching business and technological parameters. Whether writing modular and accessible code or designing empathetic user experiences, I aim to consistently deliver intentional simplicity.
  </p>

  {# <div id="projects" class="project-list u-mt4 u-mb4">
    <h2 class="intro-sub">Featured Project List</h2>
    <ul role="list">
      <li role="listitem">
        <a href="/projects/jenzabar">Jenzabar</a>
      </li>
      <li role="listitem">
        <a href="/projects/royall">Royall</a>
      </li>
    </ul>
    </div>

  </div> #}

  <section class="sub-footer">
    <p>Also, check out some recent meanderings of work here:</p>
    <ul class="sub-footer--inner" role="list">
      <li role="listitem">
        <a href="https://codepen.io/sparrowspit" target="_blank">Codepen</a>
      </li>
      <li role="listitem">
        <a href="https://github.com/SparrowSpit" target="_blank">GitHub</a>
      </li>
    </ul>
  </section>