---
layout: base
eleventyNavigation:
key: Home
title: Home
---

<div class="container--content">
  <h1>Hello, I'm Dan.</h1>
  <p class="intro-sub">
    I'm a "front-end designer" who is passionate about accessibility and systematic design.
  </p>
  <p>
    I focus on utilizing a design-centered strategy to communicate and create beautiful experiences while meeting business objectives. Achieving good design relies on intimately understanding the user's needs as well as the overarching business and technological constraints. 
  </p>
  <p>With a decade of design experience, I've grown to love well-built design systems, living documentation, and inclusive design.</p>

  {# <div id="projects" class="project-list u-mt4 u-mb4">
    <h2 class="intro-sub">Featured Project List</h2>
    <ul role="list">
      <li role="listitem">
        <a href="/projects/jenzabar">Jenzabar</a>
      </li>
      <li role="listitem">
        <a href="/projects/royall">Royall</a>
      </li>
    </div> #}

  </div>