---
layout: base
eleventyNavigation:
  key: Home
---

<div class="container">
  <h1>Daniel Bivins</h1>
  {# <span class="content-container">UX Design, Front-End Development, &amp; Accessibility</span> #}
  <h2 class="content-container intro-sub">
    A designer and front-end developer in Richmond, Virginia, who is passionate about performance, accessibility, and systematic design.
  </h2>
  <p class="content-container">
    I focus on utilizing a design-centered strategy to communicate and create beautiful experiences while meeting business objectives. Achieving good design relies on intimately understanding the user's needs as well as the overarching business and technological parameters. Whether writing modular and accessible code or designing empathetic user experiences, I aim to consistently deliver intentional simplicity.
  </p>

  <div class="project-list u-mt4 u-mb4">
    <h2 class="intro-sub">Featured Project List</h2>
    <ul role="list">
      <li role="listitem">
        <a href="/projects/jenzabar">Jenzabar</a>
      </li>
      <li role="listitem">
        <a href="/projects/royall">Royall</a>
      </li>
    </div>

  </div>