---
layout: base
eleventyNavigation:
permalink: /projects/
eleventyExcludeFromCollections: true
title: Projects
noindex: true
---

<div class="container--content">
    <h1>Dan's Projects</h1>

    <ul role="list">
        <li role="list-item"><a href="/projects/mgov/">Medicare.gov</a> &mdash; Reviving the Medicare Plan Finder tool</li> 
        <li role="list-item"><a href="/projects/partner/">Incarcerated Community Partnership</a> &mdash; Providing a path forward for the former incarcerated</li> 
        <li role="list-item"><a href="/projects/jenzabar/">Jenzabar</a> &mdash; Design System &amp; Pattern Library Development</li> 
    </ul>
</div>